{% extends 'layout.html' %}
{% block body %}
<h1 style="display:flexbox">Welcome</h1>

<div class="container">
  <a href="/addsong" class="btn btn-info" role="button">Add Song</a>
</div>
<hr>
<table class="table table-stripped table-hover">
	<tr>
		<th>Title</th>
		<th> Artist</th>
		<th> Album</th>
		<th> Song Url</th>

	</tr>
	{% for song in songs %}
	<tr>
		<td class="">{{song.title}}</td>
		<td class="">{{song.artist}}</td>
		<td class="">{{song.album}}</td> 
		<td><a href="/play_song/{{song.id}}" class="">{{song.song_url}} </a> </td>
		<td></td>
		<td><a href="/delete_song/{{song.id}}" class="btn btn-danger pull-right">DELETE</a></td>
		<td></td>
	</tr>
	{% endfor %}
</table>
{% endblock %}
